<h1>Team Details</h1>
<ul>
  <li><strong>Name:</strong> <%= @team.college_name %></li>
  <li><strong>Number of Confrernce Championship:</strong> <%= @team.conf_champs %></li>
  <li><strong>Have they won a National championship?:</strong> <%= @team.natl_champ? %></li>
  
  
</ul>